.message {
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  max-width: 60%;
  word-wrap: break-word;
}

.sent {
  background-color: #dcf8c6;
  align-self: flex-end;
}

.received {
  background-color: #f1f0f0;
  align-self: flex-start;
}

.message-text {
  word-wrap: break-word;
}

.message-timestamp {
  font-size: 0.8rem;
  color: #888;
  text-align: right;
  margin-top: 5px;
}
