.App {
  text-align: center;
}

.app {
  display: flex;
  height: 90vh;
  font-family: "Helvetica Neue", sans-serif;
  background-color: #f4f6f7;
  min-width: 100vw;
  box-sizing: border-box;
}

.header {
  padding: 20px;
  background-color: #128c7e;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.sidebar {
  width: 30%;
  background-color: #ffffff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.chat-area {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #e5ddd5;
  width: 60%;
}
